/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/******************************************************************************************/
/******************************************************************************************/
/*GENERAL*/
/******************************************************************************************/
/******************************************************************************************/

html {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--color-text-highlight);
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background-color: var(--color-background);
}

:root {
  --color-primary: #e0b364;
  --color-secondary: #bbbbbb;
  --color-background: #111213;
  --color-text: #bbbbbb;
  --color-text-highlight: #e0b364;
}

/******************************************************************************************/
/******************************************************************************************/
/*NAVIGATION*/
/******************************************************************************************/
/******************************************************************************************/

.navbar {
  display: flex;
  padding-top: 1rem;
  padding-inline: 3rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(17, 18, 19, 0.9);
  z-index: 1000;
}

.nav-items:hover,
.nav-items:active {
  transform: scale(1.1);
  text-decoration: underline;
}

.nav-list {
  display: flex;
  align-self: center;
}

.nav-items,
.logo-text {
  color: inherit;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  margin-right: 2rem;
}

.nav-items:last-child {
  margin-right: 0;
}

/******************************************************************************************/
/******************************************************************************************/
/*HEADER*/
/******************************************************************************************/
/******************************************************************************************/

.section-header {
  display: flex;
  justify-content: center;
  padding-inline: 3rem;
  padding-bottom: 5rem;
  align-items: flex-end;
  height: 100vh;
  border-bottom: 1px solid var(--color-primary);
}

.github-header-icon {
  color: var(--color-text-highlight);
  font-size: 2.3rem;
}

.heading {
  padding-top: 29rem;
  color: var(--color-text);
  font-size: 3rem;
  font-weight: 400;
  padding-right: 3rem;
}

.my-name {
  color: var(--color-text-highlight);
}

.img-me {
  width: 30rem;
  border-radius: 15rem 15rem 15rem 0rem;
}

/******************************************************************************************/
/******************************************************************************************/
/*ABOUT*/
/******************************************************************************************/
/******************************************************************************************/

.about-section {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--color-primary);
}

.about-header {
  font-weight: 300;
  text-align: center;
  font-size: 2.5rem;
}

.about-p {
  color: var(--color-text);
  font-size: 1.5rem;
  width: 50rem;
  padding-inline: 2rem;
}

.about-icon-div {
  margin-top: 2rem;
  text-align: center;
}

.about-icons {
  padding-left: 2rem;
  font-size: 4rem;
}
.about-icons:last-child {
  margin-right: 0;
}

/******************************************************************************************/
/******************************************************************************************/
/*PORTFOLIO*/
/******************************************************************************************/
/******************************************************************************************/

.portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-primary);
  padding-inline: 5rem;
}

.portfolio-header {
  font-weight: 300;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.portfolio-pieces {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-link {
  text-decoration: none;
  color: var(--color-background);
}

.portfolio-img {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
  margin-inline: 4rem;
  position: relative;
  transition: all 300ms ease;
  filter: grayscale(100);
  border-radius: 45px;
}

.info-card {
  position: absolute;
  z-index: 100;
  background-color: white;
  color: var(--color-background);
  width: 100%;
  bottom: 0;
  border-radius: 20px 20px 45px 45px;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  padding-inline: 0.5rem;
  opacity: 0;
  transition: all 300ms ease;
}

.github-link {
  color: var(--color-background);
  text-decoration: none;
  cursor: pointer;
}

.github-icon {
  font-size: 1.5rem;
  padding-top: 1rem;
}

.img-portfolio1,
.img-portfolio2,
.img-portfolio3,
.img-portfolio4 {
  border-radius: 3rem;
  width: 20rem;
  aspect-ratio: 1;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease;
  cursor: pointer;
}

/* .img-portfolio1:hover,
.img-portfolio2:hover,
.img-portfolio3:hover,
.img-portfolio4:hover {
  transform: scale(1.05);
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0px 15px 20px 10px rgb(0, 0, 0);
  filter: grayscale(0);
} */

.portfolio-img:hover {
  transform: scale(1.05);
  opacity: 0.8;
  box-shadow: 0px 15px 20px 10px rgb(0, 0, 0);
  filter: grayscale(0);
}

/******************************************************************************************/
/******************************************************************************************/
/*CONTACT*/
/******************************************************************************************/
/******************************************************************************************/

.contact-section {
  justify-content: center;
  margin-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--color-primary);
  margin-inline: 2rem;
}

.contact-header {
  font-weight: 300;
  text-align: center;
  font-size: 2.5rem;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact-form input,
.contact-form textarea {
  background-color: var(--color-background);
  color: var(--color-text);
  box-shadow: inset 0 0 5px -1px black;
  border: none;
}

.contact-form div {
  margin-bottom: 1rem;
}

.div-name label {
  margin-right: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.div-email label {
  margin-right: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.div-subject label {
  margin-right: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.div-message label {
  margin-right: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.submit-btn {
  width: 7rem;
  color: var(--color-text-highlight);
  background-color: #111213;
  border: solid 1px var(--color-primary);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.submit-btn:hover,
.submit-btn:active {
  color: #111213;
  background-color: var(--color-primary);
  border: solid 1px var(--color-primary);
}

/******************************************************************************************/
/******************************************************************************************/
/*THANK YOU*/
/******************************************************************************************/
/******************************************************************************************/

.thank-you-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  height: 100vh;
  justify-content: center;
}

.thank-you-p {
  color: var(--color-text);
}

.thank-you-link {
  text-decoration: none;
  color: var(--color-text);
}

.thank-you-link:hover {
  text-decoration: underline;
  color: var(--color-text-highlight);
}
